<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:#ff8095;font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder"
    class="navbar-brand" [routerLink]="['']"><i class="fa fa-heart" aria-hidden="true"></i>تواصل كوم<i
      class="fa fa-heart" aria-hidden="true"></i></a>

  <ul *ngIf="LoggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF-Flat';font-size:1.2rem"
    class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']">الرئيسية </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']">بحث</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']">تواصل</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']">دردشة</a>


  </ul>


  <div *ngIf="LoggedIn()" dropdown class="dropdown">
    
    <a dropdownToggle class="dropdown-toggle text-light nav-link"
      style="margin-top:-10px;color:#ff8095;font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder">
      مرحبا بك
      {{authService.decodedToken?.unique_name | titlecase}}
    </a>

    <div *dropdownMenu class="dropdown-menu mt-2">
      <a class="dropdown-item" [routerLink]="['/member/edit']"   ><i class="fa fa-user-o" aria-hidden="true"></i>
        الملف الشخصى</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="LoggedOut();"><i class="fa fa-sign-out" aria-hidden="true"></i>
        تسجيل الخروج</a>
    </div>
  </div>
  <span *ngIf="LoggedIn()">
    <img src="{{photoUrl || 'assets/User.png'}}">
  </span>

  <form *ngIf="!LoggedIn()" (ngSubmit)="Login()" #LoginForm="ngForm" class="ml-5 form-inline my-2 my-lg-0">
    <input name="username" required class="form-control mr-sm-2" type="text" placeholder="إسم المشترك"
      [(ngModel)]="model.username">
    <input name="password" required class="form-control mr-sm-2" type="password" placeholder="كلمة السر"
      [(ngModel)]="model.password">
    <button [disabled]="!LoginForm.valid" style="font-weight:bold;font-family:'JF-Flat';font-size:1.0rem"
      class="btn btn-primary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
</nav>

<!-- <pre>
  Form Valid : {{#LoginForm.valid}}
  Form Touched : {{#LoginForm.touched}}
  Form Dirty : {{#LoginForm.dirty}}
  Form Values : {{#LoginForm.value | json}}
  Username Valid : {{username.valid}}
  Username Touched : {{username.touched}}
  Username Dirty : {{username.dirty}}
  Username Value : {{username.value}}
  Password Valid : {{password.valid}}
  Password Touched : {{password.touched}}
  Password Dirty : {{password.dirty}}
  Password Value : {{password.value}}
</pre> -->